# Senseair S8 Nano Power Real time Clock configuration options

menuconfig SENSEAIR_S8
    bool "Senseair S8 CO2 Sensor"
    depends on (MODBUS_SERIAL && MODBUS_ROLE_CLIENT)
    help
      Enable Senseair S8 CO2 Sensor driver


# Workaround for not being able to have commas in macro arguments
DT_CHOSEN_Z_SENSEAIR_S8_BUS := senseair,s8-bus

config SENSEAIR_S8_MODBUS_DEV_NAME
	string "Device Name of Modbus Device for Senseair S8"
	default "$(dt_chosen_label,$(DT_CHOSEN_Z_SENSEAIR_S8_BUS))" if HAS_DTS
	default "MODBUS_0"
	depends on SENSEAIR_S8
	help
	  This option specifies the name of modbus device to be used
	  for Senseair S8.
