/*
 * Copyright (c) 2020 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
    chosen {
        zephyr,entropy = &rng;
        senseair,s8-bus = &s8modbus;
    };


    dht22 {
        compatible = "aosong,dht";
        status = "okay";
        label = "DHT22";
        dio-gpios = <&gpio0 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        dht22;
    };


    senseair_s8 {
        compatible = "senseair,s8";
        status = "okay";
        label = "SENSEAIR_S8";
    };

    leds_ui {
        compatible = "gpio-leds";
        label = "UI LEDs";
        status = "okay";

        led_ui_0: led_co2_red {
            gpios = <&gpio0 6 0>;
            label = "Red CO2 LED";
        };
        led_ui_1: led_co2_yellow {
            gpios = <&gpio0 8 0>;
            label = "Yellow CO2 LED";
        };
        led_ui_2: led_co2_green {
            gpios = <&gpio1 9 0>;
            label = "Green CO2 LED";
        };
    };
};


&uart1 {
    status = "okay";
    tx-pin = <26>;
    rx-pin = <27>;
    current-speed = <9600>;

    s8modbus: modbus0 {
        compatible = "zephyr,modbus-serial";
        status = "okay";
        label = "MODBUS0";
    };
};
