/*
 * Copyright (c) 2020 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
    chosen {
        zephyr,entropy = &rng;
        sensair,s8-bus = &s8modbus;
    };


    dht22 {
        compatible = "aosong,dht";
        status = "okay";
        label = "DHT22";
        dio-gpios = <&gpio0 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        dht22;
    };


    co2sensor {
        compatible = "sensair,s8";
        status = "okay";
        label = "SENSAIR_S8";
    };
};


&uart1 {
    status = "okay";
    tx-pin = <26>;
    rx-pin = <27>;
    current-speed = <9600>;

    s8modbus: modbus0 {
        compatible = "zephyr,modbus-serial";
        status = "okay";
        label = "MODBUS0";
    };
};
