/*
 * Copyright (c) 2021 Martin Stumpf
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

/ {
    model = "Finomnis AirQualitySensor v1";
    compatible = "finomnis,airqualitysensor-v1";

    chosen {
        zephyr,console = &uart0;
        zephyr,shell-uart = &uart0;
        zephyr,uart-mcumgr = &uart0;
        zephyr,bt-mon-uart = &uart0;
        zephyr,bt-c2h-uart = &uart0;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,code-partition = &slot0_partition;
        zephyr,entropy = &rng;
        senseair,s8-bus = &s8modbus;
    };

    leds {
        compatible = "gpio-leds";
        led0: led_0 {
            gpios = <&gpio0 30 0>;
            label = "User LED 0";
        };
        led1: led_1 {
            gpios = <&gpio0 31 0>;
            label = "User LED 1";
        };
    };

    dht22 {
        compatible = "aosong,dht";
        status = "okay";
        label = "DHT22";
        dio-gpios = <&gpio0 22 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        dht22;
    };

    senseair_s8 {
        compatible = "senseair,s8";
        status = "okay";
        label = "SENSEAIR_S8";
    };

    leds_ui {
        compatible = "gpio-leds";
        label = "UI LEDs";
        status = "okay";

        led_co2_red: led_ui_0 {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
            label = "Red CO2 LED";
        };
        led_co2_yellow: led_ui_1 {
            gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
            label = "Yellow CO2 LED";
        };
        led_co2_green: led_ui_2 {
            gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
            label = "Green CO2 LED";
        };
    };

    /* These aliases are provided for compatibility with samples */
    aliases {
        led0 = &led0;
        led1 = &led1;
    };
};

&adc {
    status = "okay";
};

&gpiote {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&uart0 {
    compatible = "nordic,nrf-uarte";
    status = "okay";
    current-speed = <115200>;
    tx-pin = <43>;
    rx-pin = <42>;
};

&uart1 {
    status = "okay";
    tx-pin = <5>;
    rx-pin = <4>;
    current-speed = <9600>;

    s8modbus: modbus0 {
        compatible = "zephyr,modbus-serial";
        status = "okay";
        label = "MODBUS0";
    };
};

&flash0 {

    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x000000000 0x0000C000>;
        };
        slot0_partition: partition@c000 {
            label = "image-0";
            reg = <0x0000C000 0x00067000>;
        };
        slot1_partition: partition@73000 {
            label = "image-1";
            reg = <0x00073000 0x00067000>;
        };
        scratch_partition: partition@da000 {
            label = "image-scratch";
            reg = <0x000da000 0x0001e000>;
        };

        /*
         * The flash starting at 0x000f8000 and ending at
         * 0x000fffff is reserved for use by the application.
         */

        /*
         * Storage partition will be used by FCB/LittleFS/NVS
         * if enabled.
         */
        storage_partition: partition@f8000 {
            label = "storage";
            reg = <0x000f8000 0x00008000>;
        };
    };
};

&usbd {
    compatible = "nordic,nrf-usbd";
    status = "okay";
};
