
menuconfig SUBSYS_ZIGBEE_DEVICE
    bool "ZigBee device subsystem"
    depends on ZIGBEE
    depends on ZIGBEE_APP_UTILS
    help
      Enable ZigBee device that publishes sensor data to a ZigBee network.

config SUBSYS_ZIGBEE_DEVICE_STACK_SIZE
    int "ZigBee device thread stack size"
    depends on SUBSYS_ZIGBEE_DEVICE
    default 2048
    help
      Size of ZigBee device thread stack

config SUBSYS_ZIGBEE_DEVICE_THREAD_PRIORITY
    int "ZigBee device thread priority"
    depends on SUBSYS_ZIGBEE_DEVICE
    default 7
    help
      Priority of the ZigBee device thread

config SUBSYS_ZIGBEE_DEVICE_NETWORK_STATE_LED
    int "ZigBee device network state LED"
    depends on SUBSYS_ZIGBEE_DEVICE
    default 1
    help
      The LED number of the network status LED, as set in the device tree
