
menuconfig SUBSYS_DHT22
    bool "DHT22 sensor sampling subsystem"
    depends on DHT
    help
      Enable DHT22 thread that continuously samples DHT22 values.

config SUBSYS_DHT22_STACK_SIZE
    int "DHT22 thread stack size"
    depends on SUBSYS_DHT22
    default 512
    help
      Size of DHT22 thread stack

config SUBSYS_DHT22_THREAD_PRIORITY
    int "DHT22 thread priority"
    depends on SUBSYS_DHT22
    default -3
    help
      Priority of the DHT22 thread. Should be negative,
      as sensor reads might fail if preempted.

config SUBSYS_DHT22_SAMPLING_RATE_MS
    int "DHT22 sampling rate (ms)"
    depends on SUBSYS_DHT22
    default 2000
    range 2000 1000000000
    help
      The sampling rate of the sensor in milliseconds. Needs to be at least
      2000, as the sensor cannot sample faster.

config SUBSYS_DHT22_CALLBACK_MAX_COUNT_TEMPERATURE
    int "DHT22 max callbacks for temperature"
    depends on SUBSYS_DHT22
    default 10
    help
      Maximum number of temperature callbacks registered to the DHT22 device

config SUBSYS_DHT22_CALLBACK_MAX_COUNT_HUMIDITY
    int "DHT22 max callbacks for humidity"
    depends on SUBSYS_DHT22
    default 10
    help
      Maximum number of humidity callbacks registered to the DHT22 device
