# Sensair S8 Nano Power Real time Clock configuration options

menuconfig SENSAIR_S8
    bool "Sensair S8 CO2 Sensor"
    depends on (MODBUS && MODBUS_ROLE_CLIENT)
    help
      Enable Sensair S8 CO2 Sensor driver


# Workaround for not being able to have commas in macro arguments
DT_CHOSEN_Z_SENSAIR_S8_BUS := sensair,s8-bus

config SENSAIR_S8_MODBUS_DEV_NAME
	string "Device Name of Modbus Device for Sensair S8"
	default "$(dt_chosen_label,$(DT_CHOSEN_Z_SENSAIR_S8_BUS))" if HAS_DTS
	default "MODBUS_0"
	depends on SENSAIR_S8
	help
	  This option specifies the name of modbus device to be used
	  for Sensair S8.
